.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    max-width: 375px;
    margin: 0 auto;
}

.container * {
    flex-shrink: 1;
    flex-grow: 1;
}

figure {
    text-align: center;
}

figure figcaption {
    text-transform: capitalize;
    text-align: center;
}

figure figcaption:first-letter {
    text-transform: uppercase;
}
figure img {
    width: 100%;
    height: auto;
}







